@font-face {
    font-family: 'Nickainley';
    src: url('../assets/nickainley.regular.otf');
}

body {
    background-color: #f8f8f8;
    color: #814256;
    padding: 0 16px;
    font-family: 'Open Sans';
}

header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

.question {
    font-family: 'Nickainley';
    font-size: 70pt;
    font-weight: normal;
}

.message {    
    font-size: 18pt;
    font-weight: normal;
}

footer {
    font-size: 12pt;
    border-top: 1px solid #d9d9d9;
    padding: 8px 0;
    text-align: center;
}

footer a {
    margin-left: 8px;
    vertical-align: middle;
}